In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train_csv_path = '/home/omni/Programming/Qwen2.5-Math-Classifier/dataset/train.csv'
dataset = pd.read_csv(train_csv_path)
dataset.head()

                                            Question  label
0  A solitaire game is played as follows.  Six di...      3
1  2. The school table tennis championship was he...      5
2  Given that $x, y,$ and $z$ are real numbers th...      0
3  $25 \cdot 22$ Given three distinct points $P\l...      1
4  I am thinking of a five-digit number composed ...      5

In [3]:
# Rename the Question column
dataset = dataset.rename(columns={
    'Question': 'prompt'
})
dataset.columns

Index(['prompt', 'label'], dtype='object')

In [4]:
X, y = dataset['prompt'], dataset['label']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.15, shuffle=True, random_state=42, stratify=y)
len(X_train), len(y_train), len(X_val), len(y_val)

(8660, 8660, 1529, 1529)

In [5]:
from pandas import DataFrame
train_df = DataFrame(data={
    'prompt': X_train,
    'label': y_train
})

train_df.head(), train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8660 entries, 471 to 5328
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   prompt  8660 non-null   object
 1   label   8660 non-null   int64
dtypes: int64(1), object(1)
memory usage: 203.0+ KB

(                                                 prompt  label
 471   Example 3 The line $l$ passes through a fixed ...      1
 9979  ## Task 30/79\n\nSolve the following system of...      4
 4385  1. 178 Find all three-digit numbers $A$ such t...      5
 4729  For how many ordered triples $(x,y,z)$ of nonn...      5
 3145  1. The quadratic equation with complex coeffic...      0,
 None)

In [6]:
val_df = DataFrame(data={
    'prompt': X_val,
    'label': y_val
})

val_df.head(), val_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1529 entries, 2388 to 92
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   prompt  1529 non-null   object
 1   label   1529 non-null   int64
dtypes: int64(1), object(1)
memory usage: 35.8+ KB

(                                                 prompt  label
 2388  Let \(O=(0,0)\), \(A=\left(\tfrac{1}{2},0\righ...      1
 5877  b'Let p(d) = -11*d + 28. Let n be 0 + (-2)/(-1...      0
 7021  3.34. The base of the pyramid is a right-angle...      1
 4972  Example 1. Form the equation of a circle whose...      1
 2700  6.16 The sum of three consecutive terms of a g...      0,
 None)

In [8]:
from pathlib import Path
# Save updated datasets
preprocessed_path = Path('/home/omni/Programming/Qwen2.5-Math-Classifier/dataset/preprocessed')
train_df.to_csv(preprocessed_path / 'train.csv')
val_df.to_csv(preprocessed_path / 'val.csv')